################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/.vs/IdentityServer3.Contrib.Configuration/v15/Server/sqlite3
