<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="security" type="IdentityServer3.Contrib.Configuration.ConfigSectionHandler,IdentityServer3.Contrib.Configuration" allowLocation="false"/>
	</configSections>
	<appSettings>
		<add key="ConfigFilePath" value=""/>
	</appSettings>
	<security>
	</security>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
